* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --secondary-color: white;
  --radius-rounded-corner: 5px;

  /* should add to 100vh */
  --header-height: 10vh;
  --main-height: 90vh;
}

/***  General Elements  ***/

body {
  min-height: 100vh;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: var(--main-height);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

button {
  border: none;
  border-radius: var(--radius-rounded-corner);
  padding: 0.4em;
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--secondary-color);
}

h1 {
  margin: 1rem 0;
}

.button-h-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.button-h-container > * {
  margin: 0.5rem 0;
}

/***  Header  ***/

header {
  min-height: var(--header-height);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

header a {
  color: var(--secondary-color);
}

header a:visited {
  color: var(--secondary-color);
}

header > *:first-child,
header > button:last-child {
  margin: auto 2rem;
}

header > nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: auto;
}

header > nav > * {
  margin: auto 2rem;
}

.center-h2-header {
  margin-left: auto;
  margin-right: 2rem;
}

.menu-header-button {
  border: 1px solid var(--secondary-color);
}

/***  Chirp Component  ***/

.chirp {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  justify-content: space-around;
  margin: 0.5rem 0;
  border: black solid 1px;
  border-radius: var(--radius-rounded-corner);
  min-width: 20rem;
}

.chirp > * {
  margin-bottom: 0.5rem;
}

.chirp > *:last-child {
  margin-bottom: 0;
}

.chirp-content {
  max-width: 18rem;
}

.rechirp {
  min-width: 18rem !important;
  transform: scale(0.9);
}

.rechirp-truncation {
  padding: 0.2rem;
  border: black solid 1px;
  border-radius: 5px;
  transform: scale(0.9);
}

/***  Forms  ***/

.chirp-form-container {
  padding: 1rem;
  margin: 0.5rem 0;
  border: black solid 1px;
  border-radius: 5px;
  min-width: 20em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form * {
  margin-bottom: 1rem;
}

.form *:last-child {
  margin-bottom: 0;
}

.form textarea {
  padding: 0.5em;
}

.form .form-checkbox-wrapper * {
  margin: 0.5em;
}

/***  Modules  ***/

.module-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.hide-module-wrapper {
  min-width: 0;
}

.module {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  min-width: 30vw;
  min-height: 30vh;
  border-radius: var(--radius-rounded-corner);
}

.module h2 {
  margin-top: 1rem;
  text-align: center;
}

.left-module {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 0px;
  max-width: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: max-width 1s, min-width 1s;
  border-radius: 0;
  box-shadow: inset 5px 5px var(--secondary-color),
    inset -5px -5px var(--secondary-color), inset 10px 10px var(--primary-color),
    inset -10px -10px var(--primary-color);
}

.left-module > * {
  margin: 1rem auto;
  text-align: center;
}

.left-module > h2 {
  margin-top: auto;
  text-align: center;
}

.left-module > nav {
  display: flex;
  flex-flow: column nowrap;
}

.left-module > button:last-child {
  margin-top: auto;
  margin-bottom: 3rem;
}

.left-module > nav > * {
  min-width: 10rem;
  overflow: hidden;
  margin: 1rem 0;
}

.left-module-open {
  max-width: 50vw;
  min-width: 50vw;
}

.close-module-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.module p {
  margin: auto;
  max-width: 250px;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  margin-top: auto;
  transition: all 1s;
}

.login-form input,
button {
  margin-bottom: 1.6rem;
}

.sign-up-link {
  margin-top: auto;
}

/***  Errors  ***/

.login-errors-wrapper {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  list-style: none;
}

.login-errors-wrapper span {
  color: red;
}

.login-errors-wrapper *:last-child {
  margin-bottom: 1rem;
}

/***  Sign up Page  ***/

.signup-page {
  min-height: calc(100vh - var(--header-height));
}

.signup-page h2 {
  margin: 3em;
}

/***  Detail Page  ***/

.detail-page {
  justify-content: center;
}
